{% extends "base.html" %}

{% block content %}
  <h1>Welcome to Meal Management System</h1>

   {% if user.is_authenticated %}
    <p>You are logged in as {{ user.username }}.</p>
    <a href="{% url 'student_dashboard' %}">Go to Dashboard</a><br>
        
    <form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Logout</button>
    </form>
    
  {% else %}
    <p>Please login to manage your meals.</p>
    <a href="{% url 'login' %}">Login</a>
  {% endif %}
{% endblock %}