{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h3>Change Meal Status for {{ tomorrow }}</h3>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}

      <form method="post">
        {% csrf_token %}
        <input type="hidden" name="toggle" value="1">
          {% if status %}
                {% if status.status %}
                    <button type="submit" class="btn btn-warning">Turn OFF</button>
                {% else %}
                    <button type="submit" class="btn btn-success">Turn ON</button>
                {% endif %}
            {% else %}
                <!-- Default is ON if no entry yet -->
                <button type="submit" class="btn btn-warning">Turn OFF</button>
            {% endif %}
        </button>
      </form>

      <a href="{% url 'student_dashboard' %}" class="btn btn-secondary mt-3">Back to Dashboard</a>

{% endblock %}